/*!
 * Start Bootstrap - Round About (http://startbootstrap.com/template-overviews/round-about)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-round-about/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.logo-git {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.team-loading {
	margin-top:50px;
	margin-bottom: 400px;
}

.hidden {
	display: none;
}